body{
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.image-profile{
  width: 300px;
  border-radius: 50%;
}

.container{
  background-color: rgba(255, 255, 255, 0.17);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 1px white;
  border-radius: 50px;
  width: 500px;
  height: 600px;
  transition: all 1000ms;
}

.container:hover{
  color: black;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}
